<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   <title>Document</title>
</head>
<body>
   <%- include('./partials/nav.ejs') %>
   <form class="contact-form">
      <div class="form-info">
         <label> Post Title
            <input type="text" name="title">
         </label>
         <label> Autor
            <input type="text" name="autor">
         </label>
      </div>
      <div class="form-text">
         <label> Post Text
         <textarea name="text"></textarea>
         </label>
      </div>
      <div class="form-button">
         <input type="submit" value="Submit">
      </div>
   </form>
   <h1>1 prodact</h1>
</body>
</html>