<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="./styles/main.css">
   <title>home page</title>
</head>
<body>
   <%- include('./partials/nav.ejs') %>
   <h1>Личный блог</h1>
   <p>
      построение с помощью Node, Express, EJS 
   </p>
   <p>list</p>
   <ul>
      <li>prodact1</li>
      <li>prodact2</li>
      <li>prodact3</li>
   </ul>
   <form action="#" nane="fotoSubmitForm" metod="post" enctype="multipart/form-data">
      <input type="file" name="foto">
      <button type="submit">Submit</button>
   </form>
</body>
</html>