<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   <title>Posts</title>
</head>
<body>
   <div class="wraper">
      <%- include('./partials/nav.ejs') %>
      <h1>Posts:</h1>
      <ul>
         <li>
            <article>
               <h2>
                  <a href="/posts/1">
                     Posts title
                  </a>
               </h2>
               <p>kdjchuisdhcliusdhfcishdkcjhsdkc lejfshdfksd
                  lkdhfkjsdfhdksdlkdhfkjsdhf
                 sd sdkfjhsdkjfhsjdhs  sdkjfhsjkhf skjkfh sg 
                 djfg dkfjglfjg d
                 Lfnf 25.08.22 Mila
              </p>
               <div class="info">
                  <span>28.05.22
                  </span>
                  <span>Ludmila</span>
               </div>
            </article>
         </li>
      </ul>
   </div>
</body>
</html>